{% extends ':Front:index.html.twig' %}

{% block title %}
    PanameWorldTV - Galerie
{% endblock %}
{% block stylesheets%}
    {{ parent() }}
{% endblock %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        {% block header %}
            {{ parent() }}
        {% endblock %}
    </div>
    <div class="row give-margin-top-5">
        <div class="col-lg-12">
            <p class="col-lg-offset-2 col-lg-6 title">Galerie</p>
            <p class="col-lg-2 title"><span class="glyphicon glyphicon-phone"></span> +33 7 515 137 37</p>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="18379344_521276281595578_1768418925_o.jpg" src="{{ asset('bundles/app/galerie/18379344_521276281595578_1768418925_o.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="18426133_521265971596609_349824889_o.jpg" src="{{ asset('bundles/app/galerie/18426133_521265971596609_349824889_o.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="18426115_521266784929861_700512898_o.jpg" src="{{ asset('bundles/app/galerie/18426115_521266784929861_700512898_o.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="18406322_521266208263252_18027470_o.jpg" src="{{ asset('bundles/app/galerie/18406322_521266208263252_18027470_o.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="18405991_521266258263247_1704563008_o.jpg" src="{{ asset('bundles/app/galerie/18405991_521266258263247_1704563008_o.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="18405659_521266061596600_1416387737_o.jpg" src="{{ asset('bundles/app/galerie/18405659_521266061596600_1416387737_o.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="18405354_521266648263208_1809614394_o.jpg" src="{{ asset('bundles/app/galerie/18405354_521266648263208_1809614394_o.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="QxUBld.jpg" src="{{ asset('bundles/app/galerie/QxUBld.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="18379635_521266571596549_1530233389_o.jpg" src="{{ asset('bundles/app/galerie/18379635_521266571596549_1530233389_o.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="18379599_521266371596569_37475460_o.jpg" src="{{ asset('bundles/app/galerie/18379599_521266371596569_37475460_o.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="18379434_521266731596533_1469794458_o.jpg" src="{{ asset('bundles/app/galerie/18379434_521266731596533_1469794458_o.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="18379351_521266811596525_225621091_o.jpg" src="{{ asset('bundles/app/galerie/18379351_521266811596525_225621091_o.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="18379317_521267594929780_580952557_o.jpg" src="{{ asset('bundles/app/galerie/18379317_521267594929780_580952557_o.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="18379178_521266158263257_200216528_o.jpg" src="{{ asset('bundles/app/galerie/18379178_521266158263257_200216528_o.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="18379082_521266418263231_390064927_o.jpg" src="{{ asset('bundles/app/galerie/18379082_521266418263231_390064927_o.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="18379065_521266644929875_299589851_o.jpg" src="{{ asset('bundles/app/galerie/18379065_521266644929875_299589851_o.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="18379052_521266318263241_146095983_o.jpg" src="{{ asset('bundles/app/galerie/18379052_521266318263241_146095983_o.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="18378801_521266691596537_1987152934_o.jpg" src="{{ asset('bundles/app/galerie/18378801_521266691596537_1987152934_o.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="18378689_521266468263226_1687451200_o.jpg" src="{{ asset('bundles/app/galerie/18378689_521266468263226_1687451200_o.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="18378686_521265928263280_1099552957_o.jpg" src="{{ asset('bundles/app/galerie/18378686_521265928263280_1099552957_o.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="18362832_521266504929889_824988075_o.jpg" src="{{ asset('bundles/app/galerie/18362832_521266504929889_824988075_o.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="18362822_521266924929847_368470393_o.jpg" src="{{ asset('bundles/app/galerie/18362822_521266924929847_368470393_o.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="18378681_521276191595587_1426249679_o.jpg" src="{{ asset('bundles/app/galerie/18378681_521276191595587_1426249679_o.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="18379416_521276241595582_1449774727_o.jpg" src="{{ asset('bundles/app/galerie/18379416_521276241595582_1449774727_o.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="18426264_521276301595576_1002362263_o.jpg" src="{{ asset('bundles/app/galerie/18426264_521276301595576_1002362263_o.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="18379155_521278461595360_1157534236_o.jpg" src="{{ asset('bundles/app/galerie/18379155_521278461595360_1157534236_o.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive" id="18379456_521279568261916_1287668844_o.jpg" src="{{ asset('bundles/app/galerie/18379456_521279568261916_1287668844_o.jpg') |  imagine_filter('thumb_400x300')}}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb give-margin-top-5">
            <a class="thumbnail" href="#">
                <img class="img-responsive"  id="18406098_521281724928367_1040884356_o.jpg" src="{{ asset('bundles/app/galerie/18406098_521281724928367_1040884356_o.jpg') |  imagine_filter('thumb_1280x1080')}}" alt="">
            </a>
        </div>

        <!-- Creates the bootstrap modal where the image will appear -->
        <div class="modal fade " id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('body').on('contextmenu', 'img', function(e){
            e.preventDefault();
        });

                $(".img-responsive").on("click", function(e) {
                    e.preventDefault();
                    var src = $(this).attr('id');
                    console.log(src);
                    var data = {'src':src};

                    $.post('/getImg',data,function(data){

                        $('.modal-body').html(data.img);
                        $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function

                    });

                });

    </script>
{% endblock %}