{% extends ':Front:base.html.twig' %}
{% block title %}
    PanameWorldTV - Liste des vidéos
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid" id="background">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8 text-center">
                <a class="btn btn-primary" href="{{ path('video_add') }}">Ajouter une video</a>
                {% if videos is not empty %}

                    <table class="table table-bordered table-responsive give-margin-top-2" id="white">
                        <thead>
                        <tr>
                            <th>
                                Titre
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Youtube ID
                            </th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for video in videos %}
                            <tr>
                                <td>{{ video.titre }}</td>
                                <td>{{ video.description }}</td>
                                <td><iframe src="https://youtube.com/{{ video.youtubeId }}" frameborder="0"></iframe></td>
                                <td>
                                    <a class="btn btn-warning" href="{{ path('video_update',{'id':video.id}) }}">Modifier</a>
                                    <a class="btn btn-danger" href="{{ path('video_remove',{'id':video.id}) }}" >Supprimer</a>
                                </td>
                            </tr>
                        {%  endfor%}
                        </tbody>
                    </table>



                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type=application/javascript src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/css/js/bootstrap.min.js') }}"></script>
{% endblock %}